Rawr.Silverlight/Service References/ServiceReference/RawrService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="RawrService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4906/RawrService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4906/RawrService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4906/RawrService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRawrService_GetSupportedModels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportedModels" />
  </wsdl:message>
  <wsdl:message name="IRawrService_GetSupportedModels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportedModelsResponse" />
  </wsdl:message>
  <wsdl:message name="IRawrService_GetCharacterDisplayCalculationValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterDisplayCalculationValues" />
  </wsdl:message>
  <wsdl:message name="IRawrService_GetCharacterDisplayCalculationValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterDisplayCalculationValuesResponse" />
  </wsdl:message>
  <wsdl:portType name="IRawrService">
    <wsdl:operation name="GetSupportedModels">
      <wsdl:input wsaw:Action="http://tempuri.org/IRawrService/GetSupportedModels" message="tns:IRawrService_GetSupportedModels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRawrService/GetSupportedModelsResponse" message="tns:IRawrService_GetSupportedModels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacterDisplayCalculationValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IRawrService/GetCharacterDisplayCalculationValues" message="tns:IRawrService_GetCharacterDisplayCalculationValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRawrService/GetCharacterDisplayCalculationValuesResponse" message="tns:IRawrService_GetCharacterDisplayCalculationValues_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRawrService" type="tns:IRawrService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSupportedModels">
      <soap:operation soapAction="http://tempuri.org/IRawrService/GetSupportedModels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacterDisplayCalculationValues">
      <soap:operation soapAction="http://tempuri.org/IRawrService/GetCharacterDisplayCalculationValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RawrService">
    <wsdl:port name="BasicHttpBinding_IRawrService" binding="tns:BasicHttpBinding_IRawrService">
      <soap:address location="http://localhost:4906/RawrService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>